<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450834984965-6ikeffju07tts3s6osrqmi18anobd5q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450834984965-6ikeffju07tts3s6osrqmi18anobd5q8</string>
	<key>API_KEY</key>
	<string>AIzaSyA8PvK4cnb2qgnZDHCHlwc0RnCY1w4nZEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>450834984965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseCrud.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-test-ae498</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-test-ae498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450834984965:ios:69d1b042c9ca02a1b4ec6c</string>
</dict>
</plist>